/*
#statusBar{
    -fx-border-color: gray;
}
*/
/*.status-bar-separator *.line{
   -fx-border-style: solid;
   -fx-border-width: 0 0 1 0;*/ /* its make really one-pixel-border */
  /* -fx-background-color: black;*/
 /*   -fx-background-color: #e79423;
    -fx-background-radius: 2;*/
    /*-fx-background-color: black;*/
  /*  -fx-background-radius: 5;*/
   /* -fx-background-insets: -2 -1 -2 -1;*/ /* top right bottom left */
    /*-fx-padding: 2;*/ /* if 0 then bg color #e79423 won't be seen */
/*}*/

.system-status-label{
    /*-fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: black;*/
    -fx-background-radius: 4em;
    -fx-min-width: 100px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 3, 0, 0, 0);
    -fx-background-color: grey;
}

.system-status-label-fine{
    -fx-background-color: green;
}

.system-status-label-error{
    -fx-background-color: red;
}